/***********************
3. home 
***********************/


/* .main_slider */ 

.main_slider {
    width:100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    margin-top: 150px;
}
.main_slider_content{
    width: 60%;
}
.main_slider_content h6{
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 29px;
    color: #eceff6;
}

.main_slider_content h1{
    font-weight: 600;
    line-height: 1;
    color: #eceff6;
}
.blue_button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background-color: #53d9fa;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}


.blue_button a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.shop_now_button{
    width: 140px;
    margin-top: 32px;
}

.title{
    position: relative;
    animation-name: header;
    animation-duration: 2s;
}

@keyframes header{
    0%{left: -1000px;  opacity: 0;}
    100%{left: 0; opacity: 1;}
}

/*********************************
4. Banner
*********************************/

.banner
{
	width: 100%;
	margin-top: 30px;
}
.banner_item
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 265px;
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    border-radius: 5px;
}

.banner_category
{
    height: 50px;
    min-width: 180px;
	background: #FFFFFF;
    padding: 0 25px;
    border-radius: 5px;
}
.banner_category a
{
	display: block;
	color: #1e1e27;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	line-height: 50px;
	width: 100%;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.banner_category a:hover
{
	color: #b5aec4;
}