*{

    margin: 0;
    padding: 0;
}
.row{
max-width: 1140px;
margin: 0 auto;

}


 body{

    font-family:tehoma ;
 }
 .hero{

    position: absolute;
widows: 1140px; ;
top: 50%;
left: 30%;
transform: translate(-50%,-50%); 
}


header{

    background-image: url(image/s1.jpg);
    height: 100vh;
    background-position :center ;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: white;
    transition-duration: 1s;

}
.main-nav{
list-style: none;
    float: right;
    margin-top:40px ;
}
.main-nav li{

    display: inline-block;
    margin-left: 20px;
}
.main-nav li a {

    color: white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}
.main-nav li a:hover{

    color: #e67e22;
    transition:all 0.5s ease-in ;
    padding: 20px ;
}
.logo img{
height: 100px;
float: left;
margin-top: 30px;
}
.btn{

    border: Ipx solid #e67e22;
    padding: 10px 30px;
    color: #e67e22;
    text-decoration: none;
    border-radius: 12px; ;
margin-right: 15px;
}
.button-awesome{
margin-top: 50px;

}
.btn-half{
background-color: #e67e22;
color: white;
}
.btn-full{
    background-color: #e67e22;
    color: white;
    transition: all 0.5s ease-in;
    }
    .copy{

        width: 70%;
        margin-left: 15%;
        margin-bottom: 20px;
    }
    h3:after{
width: 300px;
height: 2px;
background-color: #e67e22;
display: block;
content: " ";
margin: auto;
margin-top: 20px;

    }
    .features h3{

        margin-top: 80px;
        margin-bottom: 30px;
    }
.arranging{

    text-align: justify;
}
.features i{
font-size: 40px;
color:  #e67e22;
margin-left: 35%;

}
.features h4{
    margin-left: 40px;
}
.our-works{

    padding: 100px 0; 
}
.our-works span{
    color: #21455e;
    font-size: 50px;
    font-family: Comfortaa;
    border-bottom: solid thin red;
    text-transform: uppercase;
    margin-left: 42%;
}
.our-works img{
width: 25%;
height: 250px;
margin: 3% 0 0 6.5%;
transform: scale(1.15);
transition: all 0.5s ;
border-radius: 20px;
}
.our-works img:hover{
    transform: scale(1.05);

    }
    .slides-container{

width: 200px;
height: 300px;
overflow: hidden;
box-shadow: 2px 2px 10px #000;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    }
.navigation{
position: absolute;
bottom: 5%;
left: 50%;
transform: translateX(-50%);
display: flex;
}
.nav{
width: 20px;
height: 20px;
border: 3px solid #fff;
border-radius: 50%;
margin: 6px;
cursor: pointer;
}
.nav:hover{
background: #fff;
}
/* .slides-container{
    width: 300px;
    height: 200px;
    margin-left: 70%;
    overflow: hidden;
    text-align: center;
}
.image-container{
    width: 400px;
    height: 200px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.slides-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slides-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px ;
background-color: white;
}
#slider-image-1:target~ْ.image-container{
    left: 0px;
}
#slider-image-2:target~ْ.image-container{
    left: -200px;
}#slider-image-3:target~ْ.image-container{
    left: 300px;
} */
.testimnials{
    margin-top: 80px;
    background-color: #e67e22;
    /* background-image:linear-gradient(rgba(0,0,0,0,7),rgba(0,0,0,0,7)), url(image/s6.jpg); */
    padding-top: 80px ;
    padding-bottom :60px; 
    color: white;
    background-attachment: fixed;

}
.testimnials p{
    color: white;
line-height: 25px;
text-align: justify;
margin-top: 40px;
}
.testimnials cite img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.btn-block{

    background-color: #e67e22;
    color: #fff;
border-radius: 4px;
margin-top: 20px;
}
.gap{
    margin-top: 40px;
}
.from{
margin-top: 40px;
}
section#screen {
    background-color: #fff;
    color: #333;
}
.title {
    margin-bottom: 5rem;
    width: 50%;
    margin: auto;
}
section#screen p.text  {
    display: inline-block;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 15px ;
}




.content{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2 , 1fr);
    padding: 20px 0;

}

.content .text {
    text-align: left;
}

.screen-btn{
    margin-top: 7rem;
}